<!--design section-->
<fieldset>
    <legend>
      <h2>
        <span>icono</span>
        <span>diseña</span>
        <span>flecha</span>
      </h2>
    </legend>
    <label for="">
      <input type="radio" name="palette" checked />
      <ul class="palette1">
        <li>colorA</li>
        <li>colorB</li>
        <li>colorC</li>
      </ul>
    </label>
    <label for="">
      <input type="radio" name="palette" />
      <ul class="palette2">
        <li>colorA</li>
        <li>colorB</li>
        <li>colorC</li>
      </ul>
    </label>
    <label for="">
      <input type="radio" name="palette" />
      <ul class="palette3">
        <li>colorA</li>
        <li>colorB</li>
        <li>colorC</li>
      </ul>
    </label>
  </fieldset>