<!--design section-->
<fieldset class="design">
  <legend>
    <h2 class="design__title">
      <span>icono</span>
      <span>diseña</span>
      <span>flecha</span>
    </h2>
  </legend>
  <div class="design__palette">
    <label for="">
      <input class="design__palette--1" type="radio" name="palette" checked />
      <ul>
        <li>colorA</li>
        <li>colorB</li>
        <li>colorC</li>
      </ul>
    </label>
    <label for="">
      <input type="radio" name="palette" />
      <ul class="palette2">
        <li>colorA</li>
        <li>colorB</li>
        <li>colorC</li>
      </ul>
    </label>
    <label for="">
      <input type="radio" name="palette" />
      <ul class="palette3">
        <li>colorA</li>
        <li>colorB</li>
        <li>colorC</li>
      </ul>
    </label>
  </div>
</fieldset>
