<!-- fill section-->
<fieldset class="fill">
  <legend class="fill__title">
    <div class="fill__title--container">
      <i class="far fa-keyboard icon"></i>
      <h2 class="word">rellena</h2>
    </div>
    <i class="fas fa-chevron-up fill__title--arrow"></i>
  </legend>
  <label class="fill__label name" for="Name">Nombre Completo</label>
  <input
    class="fill__input"
    placeholder="María García"
    type="text"
    id="name"
    name="name"
    required
  />
  <label class="fill__label" for="job">Trabajo</label>
  <input
    class="fill__input job"
    placeholder="Programadora front-end"
    type="text"
    id="job"
    name="job"
    required
  />
  <label class="fill__label imgLabel" for="photo"> Imagen de perfil</label>
  <input
    class="fill__input buttonInput"
    type="file"
    id="photo"
    name="photo"
    required
  />
  <div class="addImage">
    <button class="fill__input buttonImg" type="button">Añadir imagen</button>
    <div class="preview"></div>
  </div>
  <label class="fill__label" for="email">Email</label>
  <input
    class="fill__input"
    placeholder="maria.garcia@example.com"
    type="email"
    id="email"
    name="email"
    pattern=" ^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
    required
  />
  <label class="fill__label" for="phone">Teléfono</label>
  <input
    class="fill__input"
    placeholder="+34 666666666"
    type="tel"
    id="phone"
    name="phone"
    pattern="^\+(?:[0-9]●?){6,14}[0-9]$
     "
    required
  />
  <label class="fill__label" for="linkedin"
    >Nombre de usuario de LinkedIn</label
  >
  <input
    class="fill__input"
    placeholder="mariagar"
    type="url"
    id="linkedin"
    name="linkedin"
  />
  <label class="fill__label" for="github">Nombre de usuario de GitHub</label>
  <input
    class="fill__input"
    placeholder="mariagar"
    type="url"
    id="github"
    name="github"
  />
</fieldset>
