<!--Secction share-->
<fieldset class="share js-container">
  <include
    src="./titles.html"
    classTitle="share__title js-title"
    classTitleContainer="share__title--container"
    classIcon="icon fas fa-share-alt"
    section="Comparte"
  ></include>

  <button class="share__button" type="submit" title="Create card">
    <i class="share__button--icon far fa-address-card"></i>
    Crear tarjeta
  </button>
  <div class="border"></div>
  <div class="share__subsection collapsable__content">
    <h3 class="share__subsection--title">La tarjeta ha sido creada:</h3>
    <a class="share__subsection--link" href="" target="_blank"
      >link awesome profile card</a
    >
    <a class="share__subsection--twitter" href="" target="_blank"
      ><i class="icon fab fa-twitter"></i>Compartir en twitter</a
    >
  </div>
</fieldset>
