<form action="create card" method="GET">
  <!--design section-->
  <fieldset>
    <div>
      <h2>
        <span>icono</span>
        <span>diseña</span>
        <span>flecha</span>
      </h2>
    </div>

    <label for="">
      <input type="radio" name="palette" checked />
      <ul class="palette1">
        <li>colorA</li>
        <li>colorB</li>
        <li>colorC</li>
      </ul>
    </label>
    <label for="">
      <input type="radio" name="palette" />
      <ul class="palette2">
        <li>colorA</li>
        <li>colorB</li>
        <li>colorC</li>
      </ul>
    </label>
    <label for="">
      <input type="radio" name="palette" />
      <ul class="palette3">
        <li>colorA</li>
        <li>colorB</li>
        <li>colorC</li>
      </ul>
    </label>
  </fieldset>
  <!-- fill section-->
  <fieldset>
    <div>
      <h2>
        <span>icono</span>
        <span>rellena</span>
        <span>flecha</span>
      </h2>
    </div>
    <label for="Name">Nombre Completo</label>
    <input type="text" id="name" name="name" />
    <label for="job">Trabajo</label>
    <input type="text" id="job" name="job" />
    <div>
      <label for="photo"> Imagen de Perfil</label>
      <input type="file" id="photo" name="photo" />
      <button type="button">Añadir Imagen</button>
      <div>Previsualización</div>
    </div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" />
    <label for="phone">Teléfono</label>
    <input type="tel" id="phone" name="phone" />
    <label for="linkedin">Nombre de usuario de Linkedin</label>
    <input type="url" id="linkedin" name="linkedin" />
    <label for="github">Nombre de usuario de Github</label>
    <input type="url" id="github" name="github" />
  </fieldset>
  <!--Secction share-->
  <div>
    <h2>
      <span>icono</span>
      <span>comparte</span>
      <span>flecha</span>
    </h2>
  </div>
  <button type="submit" title="Create card"></button>
  <div>
    <h3>La tarjeta ha sido creada</h3>
    <a href="" target="_blank">link awesome profile card</a>
    <a href="" target="_blank">link twitter</a>
  </div>
</form>
