<section class="generator">
  <div class="generator__button1">Reset</div>
  <div class="generator__container">
    <h2 class="generator__container--name">Nombre Apellido</h2>
    <h3 class="generator__container--profession">Profesión</h3>
    <img class="generator__container--img" src="" alt="" title="" />
    <nav class="generator__container--nav">
      <ul>
        <li>mobile</li>
        <li>email</li>
        <li>linkedin</li>
        <li>github</li>
      </ul>
    </nav>
  </div>
</section>
