.generator {
  width: 100%;
  height: 457px;
  padding: 38px 35px 40px 45px;

  &__button1 {
    width: 75px;
    height: 30px;
    border-radius: 15px;
    border: solid 1px white;
    text-transform: capitalize;
  }
  &__container {
    width: 240px;
    height: 329px;
    background-color: white;
  }
}
