.fill {
  border: 0px;
  padding-bottom: 30px;
  background-color: $color-light;
  font-family: $font-main;
  color: $color-fontMain;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;

    &--container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &--word {
      font-size: 18px;
      font-weight: 600;
      margin-left: 8px;
    }

    &--icon {
      width: 21px;
      height: 18px;
      color: $color-icon;
    }
    &--arrow {
      width: 16px;
      height: 18px;
      text-align: right;
    }
  }
}
.buttonimg {
  display: none;
}
