.fill {
  border: 0px;
  margin-top: 10px;
  padding-bottom: 30px;
  font-family: $font-main;
  color: $color-fontMain;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid $color-borderFooter;

  ::placeholder {
    color: $colorPlaceholder;
  }

  &__title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;

    &--container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .icon {
        width: 21px;
        height: 18px;
        color: $color-icon;
      }
      .word {
        font-size: 1.125rem;
        font-weight: 600;
        margin-left: 8px;
      }
    }

    &--arrow {
      width: 16px;
      height: 18px;
      text-align: right;
    }
  }
  &__label {
    font-size: 0.875rem;
    color: $color-main;
    padding: 20px 0 7px 0;
  }
  &__input {
    width: 100%;
    height: 30px;
    border: solid 1px $palette1-color3;
    font-size: 0.875rem;
    padding: 3px 0 7px 9px;
  }

  .name {
    padding-top: 25px;
  }
  .addImage {
    display: flex;
    flex-direction: row;

    .buttonInput {
      width: 140px;
      height: 30px;
      position: absolute;
      opacity: 0;
    }
    .buttonImg {
      height: 30px;
      width: 140px;
      border-radius: 3px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
      padding-top: 7px;
      background-color: $color-icon;
      font-family: $font-main;
      font-size: 0.875rem;
      color: $color-light;
      text-align: center;
      line-height: 1.43;
      padding: 3px 0 7px 0;
    }
    .preview {
      height: 30px;
      width: 30px;
      border: solid 1px $palette1-color3;
      margin-left: 20px;
    }
  }
}
